*{
    background: lightgray;
    font-family: 'Montserrat';
    font-weight: 400px;
    font-size: 32px;
    line-height: 100%;
    
}

body{
    display: inline-block;
}

header{
    display: flex;
}

.logo{
    margin: 0 0 15px 15px;
    padding: 1%;
    width: 130px;
}


main{
    display: inline-flex;
    margin-bottom: -30%;
    margin-left: 10%;
    width: 80%;
    height: 50%;
}

.text-area{
    height: 33%;
    border:none;
    color: #0A3871;
    text-transform: lowercase;
    padding: 2%;
}

::placeholder{
    color: gray;
}
.text-area:focus{
    outline:none;
}

.mensaje{
  background:gray;
  background-image: url(imagenes/imagen3.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 20px;
  color:#0A3871;
  padding: 1.0%;
  margin-left: 50px;
  position:absolute;
  height: 380px;
}

.mensaje:focus{
    outline:none;
}

.botones{
    display: flex;
    margin-top: 10px;
}

.btn-desencriptar{
    background: #0A3871;
    border: 1px solid whitesmoke;
    border-radius: 24px;
    color: whitesmoke;
    cursor:pointer;
    height: 67px;
    margin-left: 30px;
    width: 45%;
}

.btn-encriptar {
    background: #0A3871;
    border: 1px solid whitesmoke;
    border-radius: 24px;
    color: whitesmoke;
    cursor:pointer;
    height: 67px;
    width: 45%;

}

.btn-copiar{
    background: whitesmoke;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor:pointer;
    height: 67px;
    width: 270px;
    margin-left: 120px;
    margin-top: 320px;
    position: absolute;
}
/* //Letrero solo letras minusculas y sin acentos */
.informacion{ 
    color:black;
    font-size: 20px;
    margin-left: 30px;
}

.footer{
  display: flex;
  width: 190%;
  height: 0%;  
  padding: 57px 50px;
  align-items: center;
  flex-direction: row-reverse;
}

.logo_linkedin {
    width: 45px;
    height: 45px;
}

.logo_github {
    padding: 10px;
    width: 30px;
    height: 30px;
    
}

.copyright{
    text-align: start;
    color: black;
    font-size: 15px;
    margin: 30px;
}